.App {
  text-align: center;
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Logo {
  position: absolute;
  width: 200px;
  top: 1rem;
  left: 1rem;
}

.widget {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  margin: 15px;
}

@media screen and (max-width: 650px) {
  .widget {
    width: 100%;
  }
  .flex {
    margin-top: 0;
  }
}

.Button {
  margin: 1rem 0;
  padding: 0 1rem;
  border-radius: 20px;
  outline: none;
  border: none;
  width: 150px;
  cursor: pointer;
  position: absolute;
  bottom: 1rem;
  background-color: #fdfdfd;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}

.List {
  height: 200px;
  overflow: scroll;
  text-align: left;
}

.Item {
  background-color: rgb(36, 132, 188);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 0.7rem;
  margin: 0.3rem 0;
  color: white;
}

.flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 6rem;
}

.TextBlock {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.QR {
  width: 150px;
  margin-top: 1rem;
  align-self: center;
}

.SubmitButton {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  outline: none;
  border: none;
  width: 100px;
  cursor: pointer;
  margin-left: 1rem;
  background-color: rgb(36, 132, 188);
  color: white;
}

.Input {
  width: 160px;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: 1px solid #6a6a6a;
  background-color: transparent;
  margin: 0.5rem 0;
  transition: 0.5s ease;
  outline: none;
  color: #2b2b2b;
}

.Input:focus {
  border: 1px solid rgb(36, 132, 188);
}
